<%= render 'layouts/menu_vertical' %>
 
 <div class="container col-10">
  <div class="col-10 m-5">
    <div class="card border-primary mb-3"   style="max-width: 500px;">
      <div class="card-header">
      <h2> Nuevo Edificio </h2> 
      </div>
    <div class="card-body text-primary">
      <%= render 'form',edificio: @edificio,
        p_edificio: @edificio
      %>
    <%= link_to 'Volver', edificios_path %>
    </div>
  </div>
</div>
